<header class="header d-none d-lg-block">
    <div class="header-top">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col">
                    <button class="location-btn">
                        <svg width="14" height="18">       
                            <use xlink:href="images/icons/location.svg#location-i" width="14" height="18"/>    
                        </svg>
                        Выберите город
                    </button>
                </div>
                <div class="col d-flex justify-content-end">
                    <div class="login-links">
                        <svg width="16" height="18">       
                            <use xlink:href="images/icons/login.svg#login-i" width="16" height="18"/>    
                        </svg>
                        <a href="#" class="login-links__item">Вход в личный кабинет</a>
                        <span class="login-links__separator"> / </span>
                        <a href="#" class="login-links__item">Регистрация</a>
                    </div>
                    <div class="lang header__lang">
                        <button class="lang-btn lang-btn--rus">rus</button>
                    </div>
                </div>
            </div>
        </div>  
    </div>
    <div class="header-middle">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center">
                <div class="logo header__logo">
                    <img src="./images/logo.svg" alt="TDM ELECTRIC">
                </div>
                <div class="search header__search">
                    <form action="/" class="search-form">
                        <input type="search" name="search" id="search" class="search-form__input" placeholder="Поиск">
                        <button class="search-form__btn" title="Поиск">
                            <svg width="20" height="20">       
                                <use xlink:href="images/icons/search.svg#search-i" width="20" height="20"/>    
                            </svg>
                        </button>
                    </form>
                </div>
                <div class="header__phone">
                    <a href="tel:+74957273214" rel="nofollow" class="phone">
                        <svg width="19" height="18">       
                            <use xlink:href="images/icons/phone.svg#phone-i" width="19" height="18"/>    
                        </svg>
                        +7 (495) 727-32-14
                    </a>
                </div>
                <div class="header__button">
                    <a class="button button--download" href="documents/file.txt" download>Скачать электронную заявку</a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="navbar d-flex justify-content-between align-items-center">
                <div class="header__button">
                    <a class="button button--link" href="#" >Где купить</a>
                </div>
                <nav class="navigation navbar" role="navigation">
                    <ul class="navigation__list navbar-nav flex-row">
                        <li class="nav-item"><a href="#" class="navigation__link">О компании</a></li>
                        <li class="nav-item"><a href="#" class="navigation__link">Новости</a></li>
                        <li class="nav-item"><a href="#" class="navigation__link">Продукция</a></li>
                        <li class="nav-item"><a href="#" class="navigation__link">Поддержка</a></li>
                        <li class="nav-item"><a href="#" class="navigation__link">Обучение</a></li>
                        <li class="nav-item"><a href="#" class="navigation__link">Проекты</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /.header -->