<section class="section industries">
    <div class="container">
        <div class="industries__header section__header">
            <h2 class="section__title">Отрасли присутствия</h2>
        </div>
        <div class="industries-list d-flex justify-content-between flex-wrap flex-sm-nowrap">
            <div class="industries-card">
                <img class="industries-card__img" src="images/industries-1.jpg" alt="Промышленные предприятия">
                <a href="#" class="industries-card__title">Промышленные<br>
                    предприятия</a>
            </div>
            <div class="industries-card">
                <img class="industries-card__img" src="images/industries-2.jpg" alt="Сборщики щитового оборудования">
                <a href="#" class="industries-card__title">Сборщики щитового<br>
                    оборудования</a>
            </div>
            <div class="industries-card">
                <img class="industries-card__img" src="images/industries-3.jpg" alt="Строительно-монтажные организации">
                <a href="#" class="industries-card__title">Строительно-монтажные<br>
                    организации</a>
            </div>
            <div class="industries-card">
                <img class="industries-card__img" src="images/industries-4.jpg" alt="Розничные магазины">
                <a href="#" class="industries-card__title">Розничные <br>
                    магазины</a>
            </div>
        </div>
    </div>
</section>
<!-- /.industries -->