<section class="section main-sliders">
    <div class="container">
        <div class="main-carousel slider__wrap d-flex align-items-end align-items-lg-center">
            <div class="slider slider--hidden sliderWholesale" data-index="0">
                <div class="slider__title">
                    Оптовый покупатель
                </div>
                
                <div id="sliderWholesale" class="carousel slide slider__slider" data-bs-ride="carousel">
                    <div class="carousel-indicators slider__indicators">
                        <button type="button" data-bs-target="#sliderWholesale" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#sliderWholesale" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    </div>
                    <div class="carousel-inner slider__inner">
                        <div class="carousel-item active">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderWholesale"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderWholesale"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
            <div class="slider slider--active sliderPrivate" data-index="1">
                <div class="slider__title">
                    Частный покупатель
                </div>
                <div id="sliderPrivate" class="carousel slide slider__slider" data-bs-ride="carousel">
                    <div class="carousel-indicators slider__indicators">
                        <button type="button" data-bs-target="#sliderPrivate" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#sliderPrivate" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#sliderPrivate" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner slider__inner">
                        <div class="carousel-item active">
                            <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                            <a href="#" class="slider__link">Подробнее</a>
                        </div>
                        <div class="carousel-item">
                            <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                            <a href="#" class="slider__link">Подробнее</a>
                        </div>
                        <div class="carousel-item">
                            <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                            <a href="#" class="slider__link">Подробнее</a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderPrivate"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderPrivate"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
            <div class="slider slider--hidden sliderProfessional" data-index="2">
                <div class="slider__title">
                    Профессиональный покупатель
                </div>

                <div id="sliderProfessional" class="carousel slide slider__slider" data-bs-ride="carousel">
                    <div class="carousel-indicators slider__indicators">
                        <button type="button" data-bs-target="#sliderProfessional" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#sliderProfessional" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#sliderProfessional" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#sliderProfessional" data-bs-slide-to="3" aria-label="Slide 4"></button>
                    </div>
                    <div class="carousel-inner slider__inner">
                        <div class="carousel-item active">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                        <div class="carousel-item">
                        <img src="images/slide-1.jpg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#sliderProfessional"  data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Предыдущий</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#sliderProfessional"  data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Следующий</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.main-sliders -->