<section class="section news">
    <div class="container">
        <div class="news__header section__header d-flex justify-content-between align-items-center">
            <h2 class="section__title">Новости</h2>
            <a href="#" class="news__more">
                Все новости
                <svg>       
                    <use xlink:href="images/icons/arrow.svg#arrow-i"/>    
                </svg>
            </a>
        </div>
        <div class="news-list d-sm-flex">
            <div class="news-col">
                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            18 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            TDM ELECTRIC приглашает на выставку «Интерсвет 2021»... 
                        </span>
                    </a>
                </div>
                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            17 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            Расширение ассортимента и поступление на склад светильников серии НСП 03-60 с рассеивателем «Кольца»...
                        </span>
                    </a>
                </div>
                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            16 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            Изменение кратности отгрузки на отдельные группы продукции торговой марки TDM ELECTRIC с 16 августа 2021... 
                        </span>
                    </a>
                </div>
            </div>
            <div class="news-col">

                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            16 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            Расширение ассортимента и поступление на склад светодиодных прожекторов СДО-04 с встроенным фотореле серии Народная...
                        </span>
                    </a>
                </div>
                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            15 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            Акция МЫ ВМЕСТЕ МЫ ЛУЧШИЕ - XVIII... 
                        </span>
                    </a>
                </div>
                <div class="news-item">
                    <a href="#" class="news-item__link">
                        <span class="news-item__date">
                            12 августа 2021
                        </span>
                        <span class="news-item__excerpt">
                            Расширение ассортимента и поступление на склад труб гофрированных ПНД черных в бухтах по 25 метров... 
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.news -->